<header class="navbar-light navbar-sticky header-static">
  <!-- Logo Nav START -->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid px-3 px-xl-5">
      <!-- Logo START -->
      <a class="navbar-brand" href="#">
        <img
          class="light-mode-item navbar-brand-item"
          src="assets/images/logo.svg"
          alt="logo"
        />
        <img
          class="dark-mode-item navbar-brand-item"
          src="assets/images/logo-light.svg"
          alt="logo"
        />
      </a>
      <!-- Logo END -->

      <!-- Responsive navbar toggler -->
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-animation">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Main navbar START -->
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse" style="padding-left:31% ;font-size: 20px;">         
        <!-- Nav Main menu START -->
        <ul class="navbar-nav navbar-nav-scroll me-auto">
          <!-- Nav item 1 Demos -->
          <li>
            <a
              class="nav-link  active"
              routerLink="home"
              id="demoMenu"
              
              aria-haspopup="true"
              aria-expanded="false"
              >Home</a>
            
          </li>

          <!-- Nav item 2 Pages -->
          <li>
            <a
              class="nav-link  "
              routerLink="courses"
              id="demoMenu"
              
              aria-haspopup="true"
              aria-expanded="false"
              >Courses</a>
            
          </li>
          <li >
            <a class="nav-link  " 
            aria-haspopup="true"
              aria-expanded="false"
            routerLink="signup"
              ><i class="fas fa-user-tie fa-fw me-1"></i>Instructor</a
            >
           
          </li> 
           <li >
            <a class="nav-link  " 
            aria-haspopup="true"
              aria-expanded="false" routerLink="signup"
              ><i class="fas fa-user-tie fa-fw me-1"></i>Student</a
            >
           
          </li>
          <li>
            <a class="nav-link  " 
            aria-haspopup="true"
              aria-expanded="false" routerLink="admin-login"
              ><i class="fas fa-user-cog fa-fw me-1"></i>Admin</a
            >
          </li> 
          <!-- Nav item 3 Account -->
          

          <!-- Nav item 4 Megamenu-->
          

          <!-- Nav item 5 link-->
          
        </ul>
        <ul class="nav header-navbar-rht">
          <a routerLink="login" class="btn  btn-primary-soft me-2 mb-4 mb-sm-0"
          >Log In</a
        >
       
          </ul>
        <!-- Nav Main menu END -->

        <!-- Nav Search START -->
        
        <!-- Nav Search END -->
      </div>
      <!-- Main navbar END -->

      <!-- Profile START -->
      
      <!-- Profile START -->
    </div>
  </nav>
  <!-- Logo Nav END -->
</header>