<app-header></app-header>
<main>
    <!-- =======================
  Main Banner START -->
    <app-banner></app-banner>
    <!-- =======================
  Main Banner END -->
  
    <!-- =======================
  Popular course START -->
    <app-courses></app-courses>
    <!-- =======================
  Popular course END -->
  
    <!-- =======================
  Action box START -->
    <app-box-teaching></app-box-teaching>
    <!-- =======================
  Action box END -->
    
    <!-- =======================
  Reviews START -->
    <app-reviews></app-reviews>
    <!-- =======================
  Reviews END -->
  </main>
  <app-footer></app-footer>