
<!-- **************** MAIN CONTENT START **************** -->
<main>
	<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
	
		<div class="container-fluid">
			<div class="row">
				<!-- left -->
				<div class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
					<div class="p-3 p-lg-5">
						<!-- Title -->
						<div class="text-center">
							<h2 class="fw-bold">Admin Signup</h2>
						</div>
						<!-- SVG Image -->
						<img src="assets/images/element/02.svg" class="mt-5" alt="">
						<!-- Info -->
						<div class="d-sm-flex mt-5 align-items-center justify-content-center">
							<ul class="avatar-group mb-2 mb-sm-0">
								<li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar"></li>
								<li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar"></li>
								<li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar"></li>
								<li class="avatar avatar-sm"><img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="avatar"></li>
							</ul>
							<!-- Content -->
						</div>
					</div>
				</div>

				<!-- Right -->
				<div class="col-12 col-lg-6 m-auto">
					<div class="row my-5">
						<div class="col-sm-10 col-xl-8 m-auto">
							<!-- Title -->
							
							<h2>Sign up for your account!</h2>
							<br>
						
							<!-- Form START -->
							<form  #signUpForm="ngForm" (ngSubmit)="signUp()">
                                <!-- first Name -->
								<div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">First Name *</label>
									<div class="input-group input-group-lg">
										
										<input type="email" class="form-control border-0 bg-light rounded-end ps-1" name="firstName"placeholder="First Name" [(ngModel)]="user.firstName"
                                        [ngModelOptions]="{standalone:true}" #firstName="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted }" firstName required
                                        >
									</div>
                                    <div *ngIf="signUpForm.submitted && firstName.invalid" class="invalidfeedback" >
                                        <div *ngIf="firstName.errors.required" style="color: red;">First Name is required</div>
                                        
                                      </div>
								</div>
                                <!-- Last Name -->
								<div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">Last Name *</label>
									<div class="input-group input-group-lg">
										
										<input type="email" class="form-control border-0 bg-light rounded-end ps-1" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName"
                                        [ngModelOptions]="{standalone:true}" #lastName="ngModel" [ngClass]="{ 'is-invalid': signUpForm.submitted }" lastName required
                                        >
									</div>
                                    <div *ngIf="signUpForm.submitted && lastName.invalid" class="invalidfeedback" >
                                        <div *ngIf="lastName.errors.required" style="color: red;">Last Name is required</div>
                                        
                                      </div>
								</div>

								<!-- Email -->
								<div class="mb-4">
									<label for="exampleInputEmail1" class="form-label">Email  *</label>
									<div class="input-group input-group-lg">
										
										<input type="email" class="form-control border-0 bg-light rounded-end ps-1" name="email" placeholder="E-mail" [(ngModel)]="user.email"
                                        [ngModelOptions]="{standalone:true}"  #email="ngModel"
                                        [ngClass]="{ 'is-invalid': signUpForm.submitted && email.invalid }" email required>
                                        
									</div>
                                    
                                        <div *ngIf="signUpForm.submitted && email.invalid" class="invalidfeedback" >
                                          <div *ngIf="email.errors.required" style="color: red;">Email is required</div>
                                          <div *ngIf="email.errors.email" style="color: red;">Email format is invalid </div>
                                        </div>
								</div>
                                
							
								<!-- Password -->
								<div class="mb-4">
									<label for="inputPassword5" class="form-label">Password *</label>
									<div class="">
										
										<input name="password" type="password" class="form-control border-0 bg-light rounded-end ps-1" placeholder="*********" [(ngModel)]="user.password"
                                        [ngModelOptions]="{standalone:true}" #password="ngModel"   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                            [ngClass]="{ 'is-invalid': signUpForm.submitted && password.invalid }"  required>
									</div>
                                    <div *ngIf="signUpForm.submitted && password.invalid" class="invalidfeedback" >
                                         <div *ngIf="password.errors.required" style="color: red;">Password is required</div>
                                        
                                        <div  *ngIf="password.errors.pattern" style="color: red;">Password must have one special char,one number,one char in upperCase and must have 8 chars </div>
                                      </div>
								</div>
                             
								
								
								<!-- Check box -->
						
								<!-- Button -->
								<div class="align-items-center mt-0">
									<div class="d-grid">
										<button class="btn btn-primary mb-0" type="submit">Sign Up</button>
									</div>
								</div>
							</form>
							<!-- Form END -->


							<!-- Sign up link -->
							<div class="mt-4 text-center">
								<span>Already have an account?<a routerLink="/admin-login"> Sign in here</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->


